.Header {
	display: grid;
	position: fixed;
	top: 0px;
	right: 0px;
	width: 50%;
	height: 80x;
	padding: 30px 50px 30px 0px;
	grid-template-rows: 80px;
	grid-template-columns: 80px 1fr;
	column-gap: 20px;
	align-items: center;
	background-color: var(--colour-background);
}

.Header *:nth-child(2) *:first-child {
	font-size: x-large;
	font-weight: 600; /* Semi-Bold */
}

.Header *:nth-child(2) *:nth-child(3) {
	color:  var(--colour-secondary-8);
}

.MessageList {
	padding-top: 110px;
	padding-bottom: 4em;
}

.MessageList :global(p.splitBar) {
	color:  var(--colour-secondary-8);
}

.Footer {
	position: fixed;
	right: 0px;
	bottom: 0px;
	width: 50%;
	height: fit-content;
	padding: 30px 50px 30px 0px;
	vertical-align: middle;
	background-color: var(--colour-background);
}

.NoSelection {
	display: grid;
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 50%;
	text-align: center;
	align-items: center;
	font-size: x-large;
	font-weight: 600; /* Semi-Bold */
	color: var(--content-colour-distinct);
}