div#ContractorProfile {
	/*
	This element and its children are laid out in the following 1-row, 2-column grid:

	+--------+-------------+
	|<aside> |    <div>    |
	|        |             |
	+--------+-------------+
	*/

	display: grid;
	grid-template-columns: 200px 1fr;
	place-items: start;

	section#Projects > article {
		margin: 30px 0px;
		border: 2px solid var(--colour-secondary-5);
		border-radius: 10px;
		padding: 0px 10px;

		h3 {
			color: var(--content-colour-distinct);
			font-family: var(--font);
			font-weight: 600; /* SemiBold */
			text-transform: uppercase;
		}
	}
}

div#ContractorProfile > div {
	width:  100%;
}

div#ContractorProfile > div > header > section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: start;
	row-gap: 1em;
}

div#ContractorProfile span.closeButton {
	float: right;
	position: sticky;
	top: 0px;
	right: 0px;
	padding: 3px;
	background-color:  var(--colour-background-primary);
	color:  var(--colour-secondary-8);
	cursor:  pointer
}