.contractor_profile {
  height: 75vh;
  padding: 20px;
  display: flex;
  margin-right: 20%;
  margin-left: 20%;
}

.contractor_info {
  display: flex;
  flex-direction: column;
}

.contractor_name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contractor_links {
  display: flex;
  align-items: flex-start;
}
.contractor_links a {
  margin-right: 20px;
  color: rgb(48, 47, 47);
}

.image_wrapper {
  width: 175px;
  height: 175px;
  min-width: 175px;
  border-radius: 5%;
  display: block;
  margin-right: 20px;
}

.image_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
