.search_container {
  padding: 20px;
  margin-bottom: 20px;
  min-height: 90vh;

}

.search_qualification {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  }

.search_qualification button{
width: 150px;
height: 30px;
margin: 10px;
border-style: solid;
border-width: 0.5px;
border-color: #d0cfcf;
border-radius: 5px;
cursor: pointer;
}

.search_qualification button:hover{
background-color: #d0cfcf;

  }

.search_location {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search_title {
  text-align: center;
  margin: 0;
}

.search_options {
  margin-bottom: 5px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.MuiButtonBase-root {
  padding: 0px;
  width: 30px;
  height: 30px;
}

.search_results {
  margin-top: 10px;
}

.contractor_container {
  border-style: solid;
  border-width: 0.5px;
  border-color: #d0cfcf;
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 5px;
  display: flex;
  max-width: 70%;
  cursor: pointer;
}

.contractor_container:hover {
  background-color: #f6f5f5;
}
