.contractorCard {
	width: 400px;
	height: 500px;
	background: #f8f9fe;
	box-shadow: 0px 5px 4px rgb(255, 255, 255),
		inset 7px 2px 10px rgba(0, 0, 0, 0.25);
	border-radius: 35px;
	flex-direction: column;
	/* border: 2px solid black; */
}

.imageWrapper {
	width: 75px;
	height: 75px;
	border-radius: 50%;
}

.imageWrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: inherit;
}
