.homePage {
	height: 73.4vh;
	padding: 2rem 6rem;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 50px;
}

.updateProfilePage {
	/* height: 80vh; */
	background-color: rgb(0, 0, 0);
	/* border: 2px solid white; */
}

.flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contractorListPage {
	min-height: 73.4vh;
	padding: 2rem 6rem;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	/* border: 2px solid red; */
}

.flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.listContainer {
	/* border: 2px solid rgb(255, 255, 255); */
	margin-top: 2%;
	min-height: fit-content;
	/* height: 80vh; */
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	/* padding: 2rem 6rem; */
	gap: 10px;
}

.customButton4 {
	display: inline-block;
	outline: 0;
	border: 0;
	cursor: pointer;
	background: #ffffff;
	color: #000000;
	border-radius: 8px;
	padding: 14px 24px 16px;
	font-size: 18px;
	font-weight: 700;
	line-height: 1;
	transition: transform 200ms, background 200ms;
}
.customButton4:hover {
	transform: translateY(-2px);
	line-height: 1;
	background: transparent;
	color: #ffffff;
	box-shadow: 0 0 0 3px #ffffff inset;
}

.customButton2 {
	display: block;
	/* width: 200px;
	height: 40px; */
	line-height: 40px;
	font-size: 18px;
	font-family: sans-serif;
	text-decoration: none;
	color: #000000;
	border-radius: 0px 0px 20px 0px;
	/* border: 2px solid #333; */
	letter-spacing: 2px;
	text-align: center;
	position: relative;
	transition: all 0.35s;
	cursor: pointer;
}

.customButton2 span {
	position: relative;
	z-index: 2;
}

.customButton2:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: rgba(128, 128, 128, 0.384);
	transition: all 0.35s;
}

/* .customButton2:hover {
	color: #ffffff;
} */

.customButton2:hover:after {
	border-radius: 0px 0px 20px 0px;
	width: 100%;
}

.customButton {
	display: inline-block;
	outline: 0;
	border: 0;
	cursor: pointer;
	background: #000000;
	color: #ffffff;
	border-radius: 8px;
	padding: 14px 24px 16px;
	font-size: 18px;
	font-weight: 700;
	line-height: 1;
	transition: transform 200ms, background 200ms;
}
.customButton:hover {
	transform: translateY(-2px);
	line-height: 1;
	background: transparent;
	color: #000000;
	box-shadow: 0 0 0 3px #000000 inset;
}

/* About page styles */ 

.aboutPage {
	min-height: 60.4vh;
	
	/*padding: 2rem 6rem;*/
	background-color: rgb(14, 13, 13);
	
	display: inline-block;
	/*flex-direction: column;*/
	/*align-items: center;*/
	margin-top: 20px;

}
.imgContainer{
	/*filter: grayscale(1);*/
    position: relative;
	text-align: center;

}
.calgaryImage {
	
	max-width: 100%;
	height: auto;
}

.motto {
	
	position:absolute;
	top: 200px;
	left: 200px;
	right:200px;
	
	color:#ffffff;
	mix-blend-mode: difference;
	width: '60%';
    
}
.creators{
	color:#ffffff;
	
	 text-align: center;
}

.teamContainer {
	/* border: 2px solid rgb(255, 255, 255); */
	margin-top: 2%;
	min-height: fit-content;
	/* height: 80vh; */
	display: grid;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	/* padding: 2rem 6rem; */
	gap: 10px;
	
}
.teamCard {
	width: 400px;
	height: 400px;
	background: #121622ad;
	box-shadow: 0px 5px 4px rgba(248, 151, 6, 0.541),
	  inset 7px 2px 10px rgba(0, 0, 0, 0.25);
	border-radius: 35px;
	flex-direction: column;
	/* border: 2px solid black; */
	cursor: pointer;
	color: #ffffff;
	margin-bottom: 20px;
  }

 .biography{
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
 }
 .teamCard .biography{
	display:none;
  }
  .teamCard:hover .biography{
	display:block;
  }

  .teamCard:hover .teamMember,
  .teamCard:hover .role,
  .teamCard:hover .imageWrapper {
  display: none;
}