/* Appearance */

body {
	background-color: var(--colour-background);
	color: var(--colour);
}

main {
	background-color: var(--navigation-colour-background);
	color: var(--navigation-colour);

	a {
		color:  var(--link-colour);
	}

	button, input[type='button'], input[type='reset'], input[type='submit'] {
		display: block;
		width: 100%;
		height: 40px;
		border: none;
		border-radius: 10px;
		padding: 0px 10px;
		font-family: var(--font);
		font-weight: 600;
		font-size: 20px;
		background-color: var(--button-colour-background);
		color: var(--button-colour);
		filter: drop-shadow(0px 4px 4px rgb(128, 128, 128, 0.5));

		&:active {
			background: linear-gradient(var(--button-colour-background-gradient-endpoints), var(--button-colour-background), var(--button-colour-background-gradient-endpoints));
			filter: none;
		}
	}

	input {
		border-color: var(--input-text-colour-border);
		color:  var(--input-text-colour);
	}

	input[type='text'], input[type='email'], input[type='password'], input[type='url'], select {
		display: block;
		width: 100%;
		height: 40px;
		background-color: inherit;
		border-width: 2px;
		border-radius: 10px;
		border-style: solid;
		border-color: var(--input-text-colour-border);
		padding: 0px 8px;
	}

	input[type='radio'], input[type='checkbox'] {
		accent-color: var(--input-checkbox-colour);
	}

	textarea {
		display: block;
		width: 100%;
		background-color: inherit;
		border-width: 2px;
		border-radius: 10px;
		border-style: solid;
		border-color: var(--input-text-colour-border);
		padding: 0px 8px;
	}
}

nav {
	background-color: var(--navigation-colour-background);
	color: var(--navigation-colour);
}

nav *.ContractorName {
	color: var(--navigation-colour-contractor-name);
}

nav a, nav a:link, nav a:visited {
	color: var(--navigation-link-colour);
	text-decoration: none;
	font-weight: bold;
}

nav a.active {
	color: var(--navigation-link-colour-active);
}

nav + main {
	color: var(--content-colour);
	background-color: var(--content-colour-background);
}

.badge {
	display: inline-block;
	margin: 10px;
	border: none;
	border-radius: 5px;
	padding: 5px;
	width: fit-content;
	background-color: var(--badge-colour-background);
	color: var(--badge-colour);
	font-weight: bold;
	text-transform: 'capitalize'
}

/* Layout */

nav {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width:  300px;
}

nav + main {
	margin-left: 300px;
	padding: 30px 50px 30px 50px;
}

/* Other Styles */

.flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}
