.navbar-container {
  width: 100%;
  height: 55px;
  background: #181919;
  position: fixed;
  z-index: 100;
  top: 0;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.navbar-links {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 60px;
  font-size: 19px;
  color: white;
  text-decoration: none;
  }

ul {
  list-style-type: none;
}

.navbar-links:hover {
  color: rgb(196, 201, 200);
}

.image_container {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  width: auto !important;
}
