/*
The navigation bar appears vertically on the left of the viewport and has the
following layout:

+-----------------+
|      Title      |
+-----------------+
| Profile Picture |
+-----------------+
|   Display Name  |
+-----------------+
|    Main Menu    |
+-----------------+
|                 |
|   Inbox Link    |
+-----------------+
*/

nav {
  display: grid;
  grid-template-rows: max-content max-content max-content max-content 1fr;
  /* grid-template-columns: 1; */
  row-gap: 1rem;
  justify-items: center;
  align-items: center;
  width: 16rem;
}

nav > ul {
  display: inline-grid;
  grid-template-rows: auto;
  /* grid-template-columns: 1; */
  row-gap: 2rem;
  grid-auto-rows: 1rem;
  /* justify-content: center;
  justify-items: left;
  align-items: center; */
  margin-top: 3rem;
  list-style-type: none;
}

nav > *:last-child {
  align-self: end;
  margin-bottom: 1rem;
}
