/*
The navigation bar appears vertically on the left of the viewport and has the
following layout:

+-----------------+
|      Title      |
|                 |
+-----------------+
|                 |
| Profile Picture |
|                 |
+-----------------+
|                 |
|   Display Name  |
|                 |
+-----------------+
|                 |
|    Main Menu    |
|                 |
+-----------------+
|                 |
|   Inbox Link    |
+-----------------+

*/

nav {
  display: grid;
  grid-template-rows: max-content max-content max-content max-content 1fr;
  grid-template-columns: 1;
  row-gap: 1rem;
  justify-items: center;
  align-items: center;
}

nav > ul {
  display: inline-grid;
  grid-template-rows: auto;
  grid-template-columns: 1;
  row-gap: 2rem;
  grid-auto-rows: 1rem;
  justify-content: center;
  justify-items: left;
  align-items: center;
  margin-top: 3rem;
  list-style-type: none;
}

nav > *:last-child {
  align-self: end;
  margin-bottom: 1rem;
}

/* .navbar-container {
  width: 100%;
  height: 55px;
  background: var(--navigation-colour-background);
  position: fixed;
  z-index: 100;
  top: 0;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.navbar-links {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 60px;
  font-size: 19px;
  color: var(--navigation-colour);
  text-decoration: none;
  }

ul {
  list-style-type: none;
}

.navbar-links:hover {
  color: rgb(196, 201, 200);
} */

.image_container {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

