div#Auth {
	/*
	<main> and its children are laid out in the following 1-row, 1-column grid:

	+---------------------+
	|<header>             |
	|                     |
	+---------------------+
	|                     |
	|      <section>      |
	|                     |
	+----------+----------+
	*/

	main {
		position: fixed;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		z-index: 1;
		display: grid;
		grid-template-rows: min-content 1fr;
		grid-template-columns: 1fr;
		gap: 2px 2px;
		justify-items: stretch;
		align-items: stretch;
	}

	main > header {
		align-self: start;
		justify-self: start;
		padding: 56px 50px;
	}

	main > header h2 {
		font-weight: normal;
		font-size: 30px;
	}

	main > section {
		align-self: center;
		justify-self: center;
	}

	main > section > div {
		background-color: var(--content-colour-background);
		color: var(--content-colour);
		border-radius: 10px;
		border-width: 0px;
		padding: 50px;
		width: fit-content;
		text-align: center;

		button, input[type='button'], input[type='text'], input[type='email'], input[type='password'], input[type='reset'], input[type='submit'] {
			margin: 34px 0px;
		}
	}
}
