div#Auth {
	/*
	<main> and its children are laid out in the following 1-row, 1-column grid:

	+---------------------+
	|<header>|            |
	+--------+            |
	|      <section>      |
	|                     |
	|                     |
	+----------+----------+
	*/

	main > header {
		position: absolute;
		top: 0px;
		left: 0px;
		padding: 56px 50px;
	}

	main > header h2 {
		font-weight: normal;
		font-size: 30px;
	}

	main > section {
		position: fixed;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		gap: 2px 2px;
		justify-items: center;
		align-items: center;
		overflow: hidden auto;
		background-color: var(--colour-background-secondary-1);
	}

	main > section > div {
		background-color: var(--content-colour-background);
		color: var(--content-colour);
		border-radius: 10px;
		border-width: 0px;
		padding: 16px 50px;
		width: 500px;
		height: min-content;
		text-align: center;

		a {
			display: block;
			color: var(--content-colour-distinct);
			text-align: center;
			text-decoration: none;
			font-weight: bold;
		}

		p {
			text-align: left;
		}

		p.splitBar {
			display: grid;
			margin: 20px 0px;
			grid-template-columns: 1fr max-content 1fr;
			text-align: center;
		}

		p.splitBar::before {
			content: "";
			height: 2px;
			align-self: center;
			justify-self: stretch;
			margin-right: 1em;
			background-color: var(--input-text-colour-border);
		}

		p.splitBar::after {
			content: "";
			height: 2px;
			align-self: center;
			justify-self: stretch;
			margin-left: 1em;
			background-color: var(--input-text-colour-border);
		}

		button, input[type='button'], input[type='text'], input[type='email'], input[type='password'], input[type='reset'], input[type='submit'], p {
			margin: 34px 0px;
		}
	}
}
