main {
	position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 2px 2px;
  justify-items: stretch;
  align-items: stretch;
  color: var(--colour-secondary-7);
}

main header {
  grid-column: 1 / span 2;
  align-self: start;
  justify-self: start;
}

main section {
  grid-column: 1 / span 2;
  align-self: center;
  justify-self: center;
  text-align: center;
}

main footer {
  align-self: end;
  justify-self: start;
}

main footer + footer {
  justify-self: end;
}

main h1 {
	font-size: 42px;
	line-height: 42px;
}
