.app__video {
	height: 80vh;
	position: relative;
	/* background: url('../../assets/bg_02.jpg'); */

	background-position: center;
	background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;
	opacity: 0.9;
}

.app__video video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* .app__video-content video {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

/* .app__video-content {
    position: relative;
    height: 100%;
    width: 100%;
}
.app__video-content::after {
    content: "";
    position: absolute;
    background-color: rgba(228, 222, 222, 0.39);
    width: 100%;
    height: 100%;
} */
.app__video-position {
	position: absolute;
	inset: 0;
}

.app__video-overlay {
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.26);
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 50px;
	/* border: 3px solid yellow; */
	/* background: rgba(160, 105, 105, 0.438); */
}

/* .app__video-overlay_circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid var(--color-golden);
	cursor: pointer;
} */
