.search_skills_container {
  display: flex;
  flex-direction: column;
}

.search_skills_container > p {
  margin-bottom: 20px;
  white-space: nowrap;
}

.autocomplete_container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 100%;
  margin-bottom: 28px;
}

.autocomplete {
  width: 350px;
}

.selected_skills_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5px;
}

.selected_skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  margin-right: 8px;
  border-style: solid;
  border-color: #f2f1f1;
  border-width: 0.5px;
  border-radius: 5px;
  padding: 3px;
  background-color: #f2f1f1;
}

.close_icon {
  font-size: 18px !important;
  cursor: pointer;
  margin-left: 4px;
  border-style: solid;
  border-color: #f2f1f1;
  border-width: 0.5px;
  border-radius: 50px;
}

.close_icon:hover {
  background-color: #b6b5b5;
}