.updateForm {
	height: 100%;
	min-height: 73.4vh;
	/* min-height: 80vh; */
	background-color: rgb(0, 0, 0);
	flex-direction: row;
	padding: 2rem;
	gap: 70px;
	/* border: 2px solid red; */
}

.profileImgUpload {
	width: fit-content;
	height: fit-content;
	background-color: rgb(110, 118, 124);
	/* gap: 10px; */
	border-radius: 12px 12px 6px 6px;
	padding: 2rem;

	/* border: 2px solid red; */
}

.formContainer {
	width: fit-content;
	/* border: 2px solid red; */
	display: flex;
	flex-direction: row;
	gap: 20px;
	/* padding: 1rem; */
}

.updateForm form {
	background-color: aliceblue;
	/* width: 100%; */
	min-width: fit-content;
	padding: 1rem;
	max-width: 100%;
	flex-direction: column;
	gap: 15px;
	border-radius: 12px 12px 6px 6px;
}

.formSection {
	/* width: 100%; */
	min-height: 100%;
	/* border: 2px solid orange; */
	display: flex;
	flex-direction: column;
	gap: 6px;
	/* padding: 1rem; */
}

.formSection input {
	min-width: 20%;
	width: fit-content;
	padding: 1rem;
	border: none;
	background: rgb(206, 203, 203);
}

.formSection textarea {
	min-width: 200px;
	width: fit-content;
	height: fit-content;
	min-height: 150px;
	/* border: 2px solid yellow; */
	padding: 1rem;
	border: none;
	background: rgb(206, 203, 203);
}
