/*
The "PersonalInfo" section is laid out in grid, and each entry in the form has its own area in
the grid.

The element that comprises the "workSite" area is made a flexbox so that the radio buttons
contained in it will be spread out evenly across it.
*/

.PersonalInfo {
	display: grid;
	grid-template-columns: 250px 1fr 1fr;
	grid-column-gap: 70px;
	grid-template-areas:
		"profileImg githubUrl linkedinUrl"
		"profileImg qualification availability"
		"firstName workSite workSite"
		"lastName summary summary"
		"location summary summary"
		"email summary summary";

	*[style*="grid-area: workSite;"] {
		align-self: center;
		display: flex;
		justify-content: space-between;
	}
}

.Projects div.Cell {
	display: grid;
	grid-template-rows: max-content max-content 1fr;
	grid-template-areas:
		"title"
		"url"
		"description";
	width: 100%;
	height: 250px;
}
