.main_container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: 100vh;
}

/* Qualification  */
.search_qualification_container {
  padding: 0px 10px;
}

.search_qualification_title {
  font-weight: bold;
}

.search_options_radio_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search_options_radio {
  display: flex;
  align-items: center;
  width: 100%;
}

/* Skill */

/* Location */
.search_location_container {
  /* padding: 0px 10px; */
  margin-bottom: 20px;
}

.search_location_title {
  font-weight: bold;
  padding-left: 10px;
}

.search_location {
  /* display: flex;
  flex-direction: row;
  /* justify-content: center;
  min-height: 20px; */
}

.search_container {
  /* margin-right: 20px; */
  /* margin-left: 200px; */
  /* min-height: 90vh; */
  /* max-width: 100%; */
  /* margin-top: 60px; */
}

/* Mui */
.MuiButtonBase-root {
  height: 30px;
}

/* .css-l3ln04-MuiAutocomplete-root .MuiOutlinedInput-root.MuiInputBase-sizeSmall {
  position: relative;
} */

/* .css-qzbt6i-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-popupIndicator {
  position: relative;
  right: 10px;
}

.css-i4bv87-MuiSvgIcon-root {
  position: relative;
  right: 40px;
} */

.search_options h2 {
  display: flex;
  text-align: center;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contractor_qualification_worksite {
  display: flex;
}

.contractor_qualification2 {
  padding: 3px;
  font-size: 11px;
  font-weight: bold;
  background-color: #d5d1d0;
  width: fit-content;
  border: none;
  border-radius: 3px;
  margin-right: 10px;
}

.contractor_worksite {
  padding: 3px;
  font-size: 11px;
  font-weight: bold;
  background-color: #d5d1d0;
  width: fit-content;
  border: none;
  border-radius: 3px;
}

.contractor_summary {
  width: 100%;
}

.search_results {
  margin-top: 10px;
}

.message {
  font-size: 20px;
  color: #E3474B;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}

.contractor_list_container {
  padding-right: 40px;
}

.contractor_container {
  border-style: solid;
  border-width: 0.5px;
  border-color: #d0cfcf;
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 5px;
  display: flex;
  max-width: 100%;
  cursor: pointer;
}

.contractor_container:hover {
  background-color: #f6f5f5;
}

.result_container {
  margin-left: 5px;
}

.result_percent {
  min-width: 60px;
}

/* Button */
.button_container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.clear_button {
  display: flex;
  justify-content: center;
}

.clear_button button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.clear_button button:hover {
  background-color: #bdbaba;
}

.search_button {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.search_button button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.search_button button:hover {
  background-color: #bdbaba;
}

.result_profile_image img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.result_no_image img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 5px;
}

.result_info {
  margin-left: 5px;
  width: 100%;
  overflow-x: hidden;
}

.result_skills_btns {
  display: flex;
  flex-wrap: wrap;
}
