.search_container {
  margin: 0px 4px;
}

.search_description {
  color: var(--colour-secondary-4);
}

p {  
  font-weight: 600;
  margin-top: 28px;
  margin-bottom: 28px;
}

/* Qualification  */
.search_qualification_container {
  display: flex;
  justify-content: space-between;
}

.search_qualification_container > p {
  margin-top: 0;
}

.search_qualification_container > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 35px;
}

/* Location */
.search_location_container {
  margin-bottom: 28px;
}

.search_location_container > p {
  margin-bottom: 20px;
  white-space: nowrap;
}

/* Button */
.button_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 58px;
  margin-bottom: 42px;
}

button:last-of-type {
  color: var(--colour-secondary-9);
  filter: none;
}

.button_container > button {
  width: 40%;
  margin-bottom: 19px;
  cursor: pointer;
}

.button_container > button:last-of-type {
  width: 15%;
  background-color: var(--colour-secondary-7);
  color: var(--colour-secondary-2);
  margin-bottom: 0px;
  filter: drop-shadow(0px 4px 4px rgb(128, 128, 128, 0.5));
}

/* Contractor List */
ul {
  padding: 0;
  margin: 0;
}

.message {
  font-size: 20px;
  color: var(--colour-secondary-3);
  font-weight: 600;
  margin-bottom: 37px;
  margin-left: 4px;
}

.contractor_container {
  display: flex;
  background-color: var(--colour-background-secondary-3);
  border-radius: 10px;
  padding: 25px 16px;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgb(128, 128, 128, 0.5));
  margin-bottom: 25px;
}

.result_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.result_container p {
  margin-top: 5px;
  margin-bottom: 10px;
}

img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.result_info p {
  margin: 0;
}

.contractor_qualification_worksite {
  display: flex;
  margin: 5px 0px;
}

.contractor_qualification_worksite div {
  font-size: 14px;
  font-weight: 600;
  margin-right: 15px;
  color: var(--colour-secondary-2);
}

.contractor_worksite {
  display: flex;
}

.contractor_summary {
  width: 100%;
  margin-bottom: 25px;
}

.contractor_skills {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  margin-bottom: 25px;
}

.badge {
  background-color: var(--colour-background-secondary-1);
  color: var(--colour-secondary-7);
  border-radius: 5px;
  width: fit-content;
  margin-right: 15px;
  padding: 2px 10px;
  font-size: 14px;
}

.favorite_contractor {
  width: 25px;
  height: 20.26px;
  border-radius: 0px;
  object-fit: contain;
}
