.search_container {
  padding: 20px;
  min-height: 90vh;
}

.search_location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 20px;
}

.search_title {
  text-align: center;
  margin: 0;
}

.search_options {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.contractor_qualification2 {
  padding: 3px;
  font-size: 11px;
  font-weight: bold;
  background-color: #d5d1d0;
  width: fit-content;
  border: none;
  border-radius: 3px;
}

.MuiButtonBase-root {
  padding: 0px;
  width: 30px;
  height: 30px;
}

.search_results {
  margin-top: 10px;
}

.contractor_container {
  border-style: solid;
  border-width: 0.5px;
  border-color: #d0cfcf;
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 5px;
  display: flex;
  max-width: 70%;
  cursor: pointer;
}

.contractor_container:hover {
  background-color: #f6f5f5;
}

.clear_button button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.clear_button button:hover {
  background-color: #bdbaba;
}
