:root {
	/* Colour Palette */

	--colour-background-primary: #f9faff;
	--colour-background-secondary-1: #2e3955;
	--colour-background-secondary-2: rgba(65, 110, 151, 0.2);
	--colour-background-secondary-3: #ffffff;
	--colour-background-secondary-4: #e3474b;
	--colour-background-secondary-5: #ec7477;

	--colour-primary: #2e3955;
	--colour-secondary-1: #d9e7e8;
	/* --colour-secondary-2: #e6eff0; */
	--colour-secondary-2: #416E97;
	--colour-secondary-3: #e3474b;
	--colour-secondary-4: #444444;
	--colour-secondary-5: #d9d9d9;
	--colour-secondary-6: #919191;
	--colour-secondary-7: #ffffff;
	--colour-secondary-8: #7092b1;

	/* Colour Assignments */

	--colour-background: var(--colour-background-primary);
	--colour: var(--colour-primary);

	--content-colour-background: var(--colour-background-primary);
	--content-colour: var(--colour-primary);
	--content-colour-distinct: var(--colour-secondary-3);

	--navigation-colour-background: var(--colour-background-secondary-1);
	--navigation-colour: var(--colour-secondary-1);
	--navigation-colour-contractor-name:  var(--colour-secondary-7);
	--navigation-link-colour: var(--colour-secondary-7);
	--navigation-link-colour-active: var(--colour-secondary-3);

	--card-colour-background: var(--colour-background-secondary-3);
	--card-colour: var(--colour-secondary-2);
	--card-colour-distinct: var(--colour-secondary-3);
	--card-colour-qualification: var(--colour-secondary-2);

	--badge-colour-background: var(--colour-background-secondary-1);
	--badge-colour: var(--colour-secondary-7);

	--button-colour-background: var(--colour-background-secondary-4);
	--button-colour-background-gradient-endpoints: var(--colour-background-secondary-5);
	--button-colour: var(--colour-secondary-7);

	--input-checkbox-colour: var(--colour-background-secondary-2);
	--input-text-colour-border: var(--colour-secondary-5);
	--input-text-colour: var(--colour-secondary-6);

	--link-colour: var(--colour-secondary-2);

	--notification-colour-background: var(--colour-background-secondary-4);
	--notification-colour: var(--colour-secondary-7);

	/* Font List */

	--font: 'Open Sans', sans-serif;
	--font-headers:  'Work Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	line-height: 24px;
	/* height: 100%; */
	background-color: var(--colour-background);
	color: var(--colour);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-headers);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
