div#RecruiterProfile {
	/*
	This element and its children are laid out in the following 1-row, 2-column grid:

	+--------+-------------+
	|<aside> |    <div>    |
	|        |             |
	+--------+-------------+
	*/

	display: grid;
	grid-template-columns: 200px 1fr;
	place-items: start;
}